@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

*{
    margin:0;
    padding:0;
    font-family:'Noto-Sans', sans-serif;
    box-sizing: border-box;
}

.perfil{
    width: 100%;
    min-height: 30vh;
    background: #095255;
    color:#095255;
}

.nav_perfil{
    background: #ffffff;
    width: 100%;
    padding: 10px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.titulo {
    display: flex;
    border-radius: 10px;
    width: 100vw;
    margin: 10px 0;
    padding: 30px;
    height: 70px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.titulo h1{
    color: #095255;
    font-size: 40px;
}

.logo{
    width: 80px;
}

.foto_usuario{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left:30px;
}

.nav_perfil ul{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #095255;
    height: 50px;
    width: 100%;
    text-align: right;
    font-size: 20px;
}

.nav_perfil ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

.nav_perfil ul li a{
    color:#ffffff;
    font-weight: 600;
    text-decoration: none;
}

.sub-menu-wrap{
    position:absolute;
    top:80%;
    right:10%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu{
    max-height: 400px;
}

.sub-menu{
    background: #fff;
    padding: 20px;
    margin:10px;
    overflow: hidden;
}

.user-info{
    display: flex;
    align-items: center;
}

.user-info .h3{
    font-weight: 500;
}

.user-info img{
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.sub-menu-link p{
    width: 100%;
}

.sub-menu img{
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.sub-menu-link span{
    font-size: 22px;
    transition: transform 0.5s;
}

.sub-menu-link:hover span{
    transform: translateX(5px);
}

.sub-menu-link:hover p{
    font-weight: 600;
}

.main-fazenda{
    background: #095255;
    display: flex;
    align-items: space-between;
    justify-content: center;
    margin: 0 auto;
    max-width: 100vw;
    height: 100vh;
}

.card-indicadores{
    max-height: 60%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container{
    max-height: 50%;
    align-items: center;
    background: #ffff;
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    text-align: center;
    margin: 10px;
    padding: 20px;
}

.ocorrencias{
    overflow-y:scroll;
    width: 700px;
    max-width: 60vw;
    border-radius: 20px;
    margin: 10px 0 20px;
    padding: 30px;
    background: #ffff;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
}

.ocorrencia_container{
    width: 100%;
    padding: 20px;
    margin: 10px 0 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background: #ccc;
}