@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto-Sans', sans-serif;
    box-sizing: border-box;
}

/* Header */

.perfil {
    width: 100%;
    background: #1e4613;
    color: #ffffff;
}

.nav_perfil {
    background: #1e4613;
    width: 100%;
    max-height: 10vh;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo {
    width: 192px;
}

.lista-links {
    display: flex;
    justify-content: star;
    padding: 10px;
    margin: 20px;
    align-items: center;
    border-radius: 10px;
    background: #1e4613;
    height: 50px;
    width: 100%;
    text-align: right;
    font-size: 16px;
}


.div-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
    margin: 10px 20px;
}

.div-link:hover {
    background-color: rgba(255, 255, 255, 0.8);
    transition: background-color 0.2s;
    border-radius: 10px;
}


.div-link a {
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
}

.div-link a:hover {
    color: #1e4613;
    font-weight: 400;
    text-decoration: none;
}


.botao_usuario {
    width: 27%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.botao_usuario:hover {
    color: #1e4613;
    background-color: rgba(255, 255, 255, 0.8);
    transition: background-color 0.2s;
    border-radius: 10px;
}

.botao_usuario p {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.foto_usuario {
    width: 50px;
    border-radius: 50%;
    margin-left: 5px;
}

.sub-menu-wrap {
    position: absolute;
    top: 80%;
    right: 0;
    width: 250px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap h3 {
    color: #ffffff;
}

.sub-menu-wrap.open-menu {
    max-height: 400px;
}

.sub-menu {
    background: #1e4613;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 20px;
    margin: 10px;
    overflow: hidden;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info .h3 {
    font-weight: 500;
}

.user-info img {
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #ffffff;
    margin: 15px 0 10px;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    margin: 12px 0;
}

.sub-menu-link p {
    width: 100%;
}

.sub-menu img {
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.sub-menu-link span {
    font-size: 22px;
    transition: transform 0.5s;
}

.sub-menu-link:hover span {
    transform: translateX(5px);
}

.sub-menu-link:hover p {
    font-weight: 600;
}

/* Conteudo */

.header {
    margin-bottom: 20px;
}

.main-fazenda {
    background: white;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 100vw;
    height: 100vh;
}

.fazenda-left {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: rgb(207, 207, 207);
    width: 80%;
    max-height: 80vh;
    margin: 0 80px;
    padding: 5px;
}

.searchbar {
    width: 40%;
    margin-bottom: 20px;
}

.form_searchbar {
    height: 50px;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180%);
}

.form_searchbar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 16px;
    color: #1e4613;
}

::placeholder {
    color: #1e4613;
    font-size: 16px;
}


.form_searchbar button img {
    width: 25px;
}

.form_searchbar button {
    border: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

/* Lista de Gado */

.gadoList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 90%;
    overflow-y: scroll;
}

.container_indicadores {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 90%;
    border-radius: 10px;
    background: rgb(168, 168, 168);
    background-color: #f0f0f0;
    transition: background-color 0.2s;
    margin-bottom: 20px;
}

.container_indicadores .container-hidden{
    display: none;
}

.container_indicadores.active{
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-content: space-around;
    max-height: 90%;
    max-width: 100%;
    height: auto;
}

.container_indicadores.active .container-hidden{
    display: block;
    height: 90%;
    width: 100%;
}

.container_indicadores.active .container-hidden img{
        max-height: 90%;
        max-width: 100%;
        width: 80px;
        margin: 0;
        padding: 0;
}

.container_indicadores .read_button::before{
    content: 'Mostrar Mais';
}

.container_indicadores.active .read_button::before{
    content: 'Mostrar Menos';
}


#read_button {
    border: none;
    padding: 10px;
    border-radius: 2px;
    background-color: #1e4613;
    color: white;
    font-size: 14px;
    cursor: pointer;
    margin: 10px;
    transition: all 0.2s ease-in-out;
}

#read_button:hover{
    background-color: transparent;
    color: #1e4613;
    transition: all 0.2s ease-in-out;
}

.container {
    height: 90%;
    width: 100%;
}

.container p {
    margin-top: 25px;
    font-size: 12px;
    font-weight: 600;
}

.container img {
    max-height: 90%;
    max-width: 100%;
    width: 80px;
    margin: 0;
    padding: 0;
}