<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/contato.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <title>Contato</title>
</head>

<body>
    <embed class="besteira" name="CrabMusic"
        src="/static/images/[EXTREME BASS BOOST] Noisestorm - Crab Rave (Monstercat Release)_9fEhLmAe52M.mp3"
        loop="true" hidden="true" autostart="true">

    <header>
        <nav class="menu_lateral">
            <div class="btn-expandir">
                <i class="bi bi-list" id="btn-exp"></i>
            </div>
            <ul class="ul-itens">
                <li class="item-menu">
                    <a href="/templates/config_conta.html">
                        <span class="icon"><i class="bi bi-people-fill"></i></span>
                        <span class="txt-link">Contas</span>
                    </a>
                </li>
                <li class="item-menu">
                    <a href="/templates/ajuda_suporte.html">
                        <span class="icon"><i class="bi bi-question-circle"></i></span>
                        <span class="txt-link">Ajuda</span>
                    </a>
                </li>
                <li class="item-menu ativo">
                    <a href="/templates/contato.html">
                        <span class="icon"><i class="bi bi-telephone-fill"></i></span>
                        <span class="txt-link">Contato</span>
                    </a>
                </li>
                <li class="item-menu">
                    <a href="/templates/fazenda.html">
                        <span class="icon"><i class="bi bi-box-arrow-right"></i></span>
                        <span class="txt-link">Sair</span>
                    </a>
                </li>
            </ul>
        </nav>

        <div class="titulo">
            <img src="/static/images/logo_contato.png " class="logo">
        </div>

    </header>

    <div class="main">
        <div class="card-contato">
            <div class="card-info">
                <img src="/static/images/crab-dancing.gif">
                <div class="text-field">
                    <p>Nosso E-mail: gado_nosso@redeglobo.bancadaruralista.br</p>
                </div>
                <div class="text-field">
                    <p>Nosso telefone: 0800-8004-0202</p>
                </div>
                <div class="text-field">
                    <p>Nossa missão: passar de ano</p>
                </div>

            </div>
        </div>
    </div>


    <script src="/static/js/sidemenu.js"></script>"
</body>

</html>