<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/fazenda.css">
    <title>Fazenda</title>
</head>

<body>
    <header class="header">
        <div class="perfil">
            <nav class="nav_perfil">
                <img src="/static/images/logo.png" class="logo">
                <div class = "lista-links">
                    <div class = "div-link">
                        <a href = "/templates/fazenda.html">Fazenda</a>
                    </div>
                    <div class = "div-link">
                        <a href = "/templates/veterinaria.html">Veterinaria</a>
                    </div>
                    <div class = "div-link">
                        <a href = "/templates/rebanho.html">Rebanho</a>
                    </div>
                </div>
                <div class="botao_usuario" onclick="toggleMenu()">
                    <p>Michael Wazawski</p>
                    <img src="/static/images/mike.jfif" alt="Foto Usuario" class="foto_usuario">
                </div>
                <div class="sub-menu-wrap" id="subMenu">
                    <div class="sub-menu">
                        <div class="user-info">
                            <img src="/static/images/mike.jfif" alt="Foto Usuario">
                            <h3>Michael Wazawski</h3>
                        </div>

                        <hr>

                        <a href="#" class="sub-menu-link">
                            <img src="/static/images/user-detail-solid-24.png" alt="Foto Usuario">
                            <p>Configurações da Conta</p>
                            <span>></span>
                        </a>
                        <a href="#" class="sub-menu-link">
                            <img src="/static/images/help-circle-regular-24.png" alt="Foto Usuario">
                            <p>Ajuda e Suporte</p>
                            <span>></span>
                        </a>
                        <a href="#" class="sub-menu-link">
                            <img src="/static/images/phone-regular-24.png" alt="Foto Usuario">
                            <p>Contato</p>
                            <span>></span>
                        </a>
                        <a href="#" class="sub-menu-link">
                            <img src="/static/images/exit-regular-24.png" alt="Foto Usuario">
                            <p>Sair</p>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <div class="main-fazenda">
        <div class="fazenda-left">
            <h1>Indicadores: </h1>
            <div class="container_indicadores">
                <div class="container">
                    <h1>234</h1>
                    <h3>Cabeças de gado</h3>
                </div>
                <div class="container">
                    <h1>17</h1>
                    <h3>Gestações</h3>
                </div>
                <div class="container">
                    <h1>R$233,05</h1>
                    <h3>Cotação do arroba do boi hoje</h3>
                </div>
                <div class="container">
                    <h1>3.000 Kg</h1>
                    <h3>Consumo de ração <br>Equivale a R$7.000,00</h3>
                </div>
            </div>
        </div>
        <div class="fazenda-right">
            <h1>Ocorrências: </h1>
            <div class="ocorrencias">
                <div class="ocorrencia_container" id="ocorrencia_container">
                    <p>Consulta Veterinaria</p>
                    <p>20/10/2023</p>
                </div>
                <div class="ocorrencia_container" id="ocorrencia_container">
                    <p>Consulta Veterinaria</p>
                    <p>20/10/2023</p>
                </div>
                <div class="ocorrencia_container" id="ocorrencia_container">
                    <p>Consulta Veterinaria</p>
                    <p>20/10/2023</p>
                </div>
                <div class="ocorrencia_container" id="ocorrencia_container">
                    <p>Consulta Veterinaria</p>
                    <p>20/10/2023</p>
                </div>
                <div class="ocorrencia_container" id="ocorrencia_container">
                    <p>Consulta Veterinaria</p>
                    <p>20/10/2023</p>
                </div>
                <div class="ocorrencia_container" id="ocorrencia_container">
                    <p>Consulta Veterinaria</p>
                    <p>20/10/2023</p>
                </div>
            </div>
        </div>
    </div>


    <script src="/static/js/script.js"></script>
    
</body>

</html>