<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/login.css">
    <title>Login</title>
</head>

<body>
    <div class="main-login">
        <div class="card-login">
            <form class="form-login" id="form-login" method="post">
                <div class="textfield">
                    <label for="username">Usuário</label>
                    <input type="text" name="username" placeholder="Usuário" required>
                </div>
                <div class="textfield">
                    <label for="password">Senha</label>
                    <input type="password" name="password" placeholder="Senha" required>
                </div>
                <div class="btns">
                    <button class="btn-login" type="submit">Login</button>
                    <a href="cadastro.html">
                        <button class="btn-cadastrar" type="button">Cadastrar</button>
                    </a>
                </div>
            </form>
        </div>
    </div>
</body>

</html>