<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/login.css">
    <title>Login</title>
</head>

<body>
    <div class="main-login">
        <div class="card-login">
            <form class="form-login" id="form-login" method="POST">
                <div class="textfield">
                    <label for="username">Usuário:</label><br>
                    <input type="text" minlength="3" maxlength="12" name="username" placeholder="Usuário" required>
                </div>
                <div class="textfield">
                    <label for="password">Senha:</label><br>
                    <input type="password" minlength="4" maxlength="8" name="password" placeholder="Senha" required>
                </div>
                <div class="btns">
                    <button class="btn-login" name="botao" value="logar">Logar</button>
                    <button class="btn-cadastrar" name="botao" value="cadastro">Fazer cadastro</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>