<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/rebanho.css">
    <title>Rebanho</title>
</head>

<body>

    <header class="header">
        <div class="perfil">
            <nav class="nav_perfil">
                <img src="/static/images/logo.png" class="logo">
                <div class="lista-links">
                    <div class="div-link">
                        <a href="/fazenda">Fazenda</a>
                    </div>
                    <div class="div-link">
                        <a href="/veterinaria">Veterinária</a>
                    </div>
                    <div class="div-link">
                        <a href="/rebanho">Rebanho</a>
                    </div>
                    <div class="div-link">
                        <a href="/cadastro_animais">Cadastro</a>
                    </div>
                </div>
                <div class="botao_usuario" onclick="toggleMenu()">
                    <p>Michael Wazawski</p>
                    <img src="/static/images/mike.jfif" alt="Foto Usuario" class="foto_usuario">
                </div>
                <div class="sub-menu-wrap" id="subMenu">
                    <div class="sub-menu">
                        <div class="user-info">
                            <img src="/static/images/mike.jfif" alt="Foto Usuario">
                            <h3>Michael Wazawski</h3>
                        </div>

                        <hr>

                        <a href="/config_conta" class="sub-menu-link">
                            <img src="/static/images/user-detail-solid-24.png" alt="Foto Usuario">
                            <p>Configurações da Conta</p>
                            <span>></span>
                        </a>
                        <a href="/suporte" class="sub-menu-link">
                            <img src="/static/images/help-circle-regular-24.png" alt="Foto Usuario">
                            <p>Ajuda e Suporte</p>
                            <span>></span>
                        </a>
                        <a href="/contato" class="sub-menu-link">
                            <img src="/static/images/phone-regular-24.png" alt="Foto Usuario">
                            <p>Contato</p>
                            <span>></span>
                        </a>
                        <a href="/" class="sub-menu-link">
                            <img src="/static/images/exit-regular-24.png" alt="Foto Usuario">
                            <p>Sair</p>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <!-- CODIGO CHATGPT ESTRUTURA FOR
    <div class="gado-list" id="gado-list">
        {% for gado in gado_data %}
        <div class="container_indicadores">
            <div class="container">
                <p>Brinco: {{ gado.brinco }}</p>
            </div>
            <div class="container">
                <p>Tipo de pasto: {{ gado.tipo_de_pasto }}</p>
            </div>
                Adicione outras informações do gado aqui
        </div>
        {% endfor %}
    </div>
    </div>
    </div>-->

    <div class="main-fazenda">
        <div class="fazenda-left">
            <div class="searchbar">
                <form action="" class="form_searchbar">
                    <input type="text" placeholder="Pesquise o seu chifrudo:" name="q">
                    <button type="submit"><img src="/static/images/search-alt-2-regular-24.png"
                            alt="Pesquisar"></button>
                </form>
            </div>
            <div class="gado-list" id="gado-list">
                <div class="container_indicadores" id="sub-gado">
                    <div class="container">
                        <p>Brinco: 1234567</p>
                    </div>
                    <div class="container">
                        <p>Tipo de pasto: Pasto A</p>
                    </div>
                    <div class="container-hidden">
                        <p>Peso Total: 500kg</p>
                    </div>
                    <div class="container-hidden">
                        <p>Ultima gestação: há 8 semanas</p>
                    </div>
                    <div class="container-hidden">
                        <p>Tipo de ração: Aquela mesma</p>
                    </div>
                    <div class="container-hidden">
                        <p>Tipo de ração: Aquela mesma</p>
                    </div>
                    <div class="container-hidden">
                        <p>Tipo de ração: Aquela mesma</p>
                    </div>
                    <div class="container-hidden">
                        <p>Tipo de ração: Aquela mesma</p>
                    </div>
                </div>
            </div>
        </div>

        <script src="/static/js/script.js"></script>
        <script src="/static/js/rebanho.js"></script>

</body>

</html>