<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/rebanho.css">
    <title>Rebanho</title>
</head>

<body>

    <header class="header">
        <div class="perfil">
            <nav class="nav_perfil">
                <img src="/static/images/logo.png" class="logo">
                <div class="lista-links">
                    <div class="div-link">
                        <a href="/templates/fazenda.html">Fazenda</a>
                    </div>
                    <div class="div-link">
                        <a href="/templates/veterinaria.html">Veterinaria</a>
                    </div>
                    <div class="div-link">
                        <a href="/templates/rebanho.html">Rebanho</a>
                    </div>
                </div>
                <div class="botao_usuario" onclick="toggleMenu()">
                    <p>Michael Wazawski</p>
                    <img src="/static/images/mike.jfif" alt="Foto Usuario" class="foto_usuario">
                </div>
                <div class="sub-menu-wrap" id="subMenu">
                    <div class="sub-menu">
                        <div class="user-info">
                            <img src="/static/images/mike.jfif" alt="Foto Usuario">
                            <h3>Michael Wazawski</h3>
                        </div>

                        <hr>

                        <a href="#" class="sub-menu-link">
                            <img src="/static/images/user-detail-solid-24.png" alt="Foto Usuario">
                            <p>Configurações da Conta</p>
                            <span>></span>
                        </a>
                        <a href="#" class="sub-menu-link">
                            <img src="/static/images/help-circle-regular-24.png" alt="Foto Usuario">
                            <p>Ajuda e Suporte</p>
                            <span>></span>
                        </a>
                        <a href="#" class="sub-menu-link">
                            <img src="/static/images/phone-regular-24.png" alt="Foto Usuario">
                            <p>Contato</p>
                            <span>></span>
                        </a>
                        <a href="#" class="sub-menu-link">
                            <img src="/static/images/exit-regular-24.png" alt="Foto Usuario">
                            <p>Sair</p>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <div class="main-fazenda">
        <div class="fazenda-left">
            <div class="searchbar">
                <form action="" class="form_searchbar">
                    <input type="text" placeholder="Pesquise o seu chifrudo:" name="q">
                    <button type="submit"><img src="/static/images/search-alt-2-regular-24.png"
                            alt="Pesquisar"></button>
                </form>
            </div>
            <div class=gadoList>
                <div class="container_indicadores" data-gado="1">
                    <div class="container">
                        <img src="/static/images/cow-face.png" alt="Vaquinha">
                    </div>
                    <div class="container">
                        <p>Brinco: 1234567</p>
                    </div>
                    <div class="container">
                        <p>Tipo de pasto: Pasto A</p>
                    </div>
                    <div class="container-hidden">
                        <p>Brinco: 1234567</p>
                    </div>
                    <div class="container-hidden">
                        <p>Tipo de pasto: Pasto A</p>
                    </div>
                    <div class="container-hidden">
                        <img src="/static/images/cow-face.png" alt="Vaquinha">
                    </div>
                        <button class="read_button" id="read_button"></button>
                </div>
                <div class="container_indicadores" data-gado="2">
                    <div class="container">
                        <img src="/static/images/cow-face.png" alt="Vaquinha">
                    </div>
                    <div class="container">
                        <p>1234567</p>
                    </div>
                    <div class="container">
                        <p>Pasto A</p>
                    </div>
                </div>
                <div class="container_indicadores" data-gado="3">
                    <div class="container">
                        <img src="/static/images/cow-face.png" alt="Vaquinha">
                    </div>
                    <div class="container">
                        <p>1234567</p>
                    </div>
                    <div class="container">
                        <p>Pasto A</p>
                    </div>
                </div>
                <div class="container_indicadores" data-gado="4">
                    <div class="container">
                        <img src="/static/images/cow-face.png" alt="Vaquinha">
                    </div>
                    <div class="container">
                        <p>1234567</p>
                    </div>
                    <div class="container">
                        <p>Pasto A</p>
                    </div>
                </div>
            </div>
        </div>

        <script src="/static/js/script.js"></script>

</body>

</html>