<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/veterinaria.css">
    <title>Veterinaria</title>
</head>

<body>

    <header class="header">
        <div class="perfil">
            <nav class="nav_perfil">
                <img src="/static/images/logo.png" class="logo">
                <div class="lista-links">
                    <div class="div-link">
                        <a href="/fazenda">Fazenda</a>
                    </div>
                    <div class="div-link">
                        <a href="/veterinaria">Veterinária</a>
                    </div>
                    <div class="div-link">
                        <a href="/rebanho">Rebanho</a>
                    </div>
                    <div class="div-link">
                        <a href="/cadastro_animais">Cadastro</a>
                    </div>
                </div>
                <div class="botao_usuario" onclick="toggleMenu()">
                    <p>{{usuario}}</p>
                    <img src="/static/images/mike.jfif" alt="Foto Usuario" class="foto_usuario">
                </div>
                <div class="sub-menu-wrap" id="subMenu">
                    <div class="sub-menu">
                        <div class="user-info">
                            <img src="/static/images/mike.jfif" alt="Foto Usuario">
                            <h3>{{usuario}}</h3>
                        </div>

                        <hr>

                        <a href="/templates/config_conta.html" class="sub-menu-link">
                            <img src="/static/images/user-detail-solid-24.png" alt="Foto Usuario">
                            <p>Configurações da Conta</p>
                            <span>></span>
                        </a>
                        <a href="/templates/ajuda_suporte.html" class="sub-menu-link">
                            <img src="/static/images/help-circle-regular-24.png" alt="Foto Usuario">
                            <p>Ajuda e Suporte</p>
                            <span>></span>
                        </a>
                        <a href="/templates/contato.html" class="sub-menu-link">
                            <img src="/static/images/phone-regular-24.png" alt="Foto Usuario">
                            <p>Contato</p>
                            <span>></span>
                        </a>
                        <!-- Configurar Botao para Sair do Site-->
                        <a href="#" class="sub-menu-link">
                            <img src="/static/images/exit-regular-24.png" alt="Foto Usuario">
                            <p>Sair</p>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <div class="main-fazenda">
    </div>

    <script src="/static/js/script.js"></script>

</body>

</html>