<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/veterinaria.css">
    <title>Rebanho</title>
</head>

<body>

    <header class="header">
        <div class="perfil">
            <nav class="nav_perfil">
                <img src="/static/images/logo.png" class="logo">
                <ul>
                    <li><a href="/templates/fazenda.html">Fazenda</a></li>
                    <li><a href="/templates/veterinaria.html">Veterinária</a></li>
                    <li><a href="/templates/rebanho.html">Rebanho</a></li>
                </ul>
                <div class="botao_usuario" onclick="toggleMenu()">
                    <p>Michael Wazawski</p>
                    <img src="/static/images/mike.jfif" alt="Foto Usuario" class="foto_usuario">
                </div>
                <div class="sub-menu-wrap" id="subMenu">
                    <div class="sub-menu">
                        <div class="user-info">
                            <img src="/static/images/mike.jfif" alt="Foto Usuario">
                            <h3>Michael Wazawski</h3>
                        </div>

                        <hr>

                        <a href="#" class="sub-menu-link">
                            <img src="/static/images/user-detail-solid-24.png" alt="Foto Usuario">
                            <p>Configurações da Conta</p>
                            <span>></span>
                        </a>
                        <a href="#" class="sub-menu-link">
                            <img src="/static/images/help-circle-regular-24.png" alt="Foto Usuario">
                            <p>Ajuda e Suporte</p>
                            <span>></span>
                        </a>
                        <a href="#" class="sub-menu-link">
                            <img src="/static/images/phone-regular-24.png" alt="Foto Usuario">
                            <p>Contato</p>
                            <span>></span>
                        </a>
                        <a href="#" class="sub-menu-link">
                            <img src="/static/images/exit-regular-24.png" alt="Foto Usuario">
                            <p>Sair</p>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <div class="main-fazenda">
        <div class="fazenda-left">
            <h1 class = "titulo_gestacoes">Gestações: </h1>
            <div class="container_indicadores">
                <div class="container">
                    <p>Brinco:</p>
                    <p>2345678</p>
                </div>
                <div class="container">
                    <p>Previsão para parir:</p>
                    <p>8 semanas</p>
                </div>
                <div class="container">
                    <p>Gastos Totais:</p>
                    <p>R$999,99</p>
                </div>
                <div class="container">
                    <p>Tempo de Gestação:</p>
                    <p>32 semanas</p>
                </div>
            </div>
            <div class="container_indicadores">
                <div class="container">
                    <p>Brinco:</p>
                    <p>2345678</p>
                </div>
                <div class="container">
                    <p>Previsão para parir:</p>
                    <p>8 semanas</p>
                </div>
                <div class="container">
                    <p>Gastos Totais:</p>
                    <p>R$999,99</p>
                </div>
                <div class="container">
                    <p>Tempo de Gestação:</p>
                    <p>32 semanas</p>
                </div>
            </div>
            <div class="container_indicadores">
                <div class="container">
                    <p>Brinco:</p>
                    <p>2345678</p>
                </div>
                <div class="container">
                    <p>Previsão para parir:</p>
                    <p>8 semanas</p>
                </div>
                <div class="container">
                    <p>Gastos Totais:</p>
                    <p>R$999,99</p>
                </div>
                <div class="container">
                    <p>Tempo de Gestação:</p>
                    <p>32 semanas</p>
                </div>
            </div>
            <div class="container_indicadores">
                <div class="container">
                    <p>Brinco:</p>
                    <p>2345678</p>
                </div>
                <div class="container">
                    <p>Previsão para parir:</p>
                    <p>8 semanas</p>
                </div>
                <div class="container">
                    <p>Gastos Totais:</p>
                    <p>R$999,99</p>
                </div>
                <div class="container">
                    <p>Tempo de Gestação:</p>
                    <p>32 semanas</p>
                </div>
            </div>
        </div>
        <div class="fazenda-right">
            <h1>Gráfico: </h1>
            <div class="ganho-de-peso">
                <img src="/static/images/graficoexemplo.jpg">
            </div>
        </div>
    </div>

    <script>
        let subMenu = document.getElementById("subMenu");

        function toggleMenu() {
            subMenu.classList.toggle("open-menu");
        }
    </script>

</body>

</html>